<h1> New Record</h1>
<form action="/customer" method="post">
<table>
    <tr> <td> Customer ID : </td> <td> <input type="text" name="customer_id " required> </td> </tr>
    <tr> <td> Category ID : </td> <td> <input type="text" name="category_id " required>	</td> </tr>
    <tr> <td> Subscribe date : </td> <td> <input type="date" name="subscribedate" required> </td> </tr>
    <tr> <td> Unsubscribe date : </td> <td> <input type="date" name="unsubscribedate" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
