<h1> Details </h1>
<table>
    <tr> <td> Customer ID: </td> <td> <%= onerec.customer_id  %> </td> </tr>
    <tr> <td> Category ID: </td> <td> <%= onerec.catagory_id  %> </td> </tr>
    <tr> <td> Subscribe Date: </td> <td> <%= onerec.subscribedate  %> </td> </tr>
    <tr> <td> Unsubscribe Date: </td> <td> <%= onerec.unsubscribedate  %> </td> </tr>
</table>
