<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>

        <p>MouseFlash is a provider of technology products, services and solutions. The Company offers products and services to the customers visiting its stores, engaging with Geek Squad agents, or using its Websites or mobile applications. It has operations in the United States, Canada and Mexico. The Company operates through two segments: Domestic and International. The Domestic segment consists of the operations in all states, districts and territories of the United States, under various brand names, including Best Buy, bestbuy.com, Best Buy Mobile, Best Buy Direct, Best Buy Express, Geek Squad, Magnolia Home Theater, and Pacific Kitchen and Home. The International segment consists of all operations in Canada and Mexico under the brand names, Best Buy, bestbuy.com.ca, bestbuy.com.mx, Best Buy Express, Best Buy Mobile and Geek Squad. As of December 31, 2016, the Company operated 1,200 large-format and 400 small-format stores throughout its Domestic and International segments.
        </p>
        <a href="/"><img src="/images/graph.png" width="700" height="700"> </a>
        
        

    </body>
</html>