<!--
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Contact MouseFlash Application</p>
    </body>
</html>
-->

<h1>Contact Us</h1>
<p>Contact Email at: zweng1@depaul.edu for assistance. </p>
<a href="/"><img src="/images/callme.png" width="700" height="700"> </a>
