<table bgcolor='lightblue' width="100%"> <tr>
    <td width='20%' align='left'>
        <a href="/"><img src="/images/logo.png" width="70" height="40"> </a></td>
    <td width='60%' align='center'><h1>MouseFlash</h1></td>
        <td width='10%' align='center'>Login Control</td>
        <td width='10%' align='center'>Cart Control</td>
    </tr></table>

<p><form action="/search" method="get">  
    Search: <input type="text" name="searchcriteria">
    <input type="submit" value="Go">
</form></p>

    <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/about">About Us</a> </li>
        <li> <a href="/contact">Contact Us</a> </li>
        <li> <a href="/product">Product</a> </li>
        <li> <a href="/category">Category</a> </li> 
        <li> <a href="/customer">Customer</a> </li> 
        <li> <a href="/supplier">Supplier</a> </li> 
        <li> <a href="/saleorder">SaleOrder</a> </li>
        <li> <a href="/orderdetail">SaleOrder</a> </li>
        <li> <a href="/review">SaleOrder</a> </li>
        <li> <a href="/subscription">Subscription</a> </li>
        <li> <a href="/report">Report</a> </li>
        <li> <a href="/promotion">Promotion</a> </li>
    </ul>
    