<h1>How Can we Help?</h1>
<h2>Plese Describe your problems below</h2>

<label for="fname">First name: </label>
<input type="text" id="fname" name="fname"><br><br>

<label for="email">Your Email: </label>
<input type="text" id="email" name="email"><br><br>

<textarea cols="50" rows="10" id="Additional"> </textarea>
<br>
<input type="submit" value="Submit">
<h2>You can call 111-222-3334</h2>