<style>
            
    body{background-color:lightblue;}
    
    h1{font-family:cursive;
        font-size:55px;
        color:#f55a21;
        margin-top:0px;
        margin-bottom:0px;
        letter-spacing:3px;
        text-shadow:3px 4px 5px black;
    }
    
    h2{font-family:sans-serif;
        font-size:26px;
        color:#9e10db; 
        margin-top:45px;
        margin-bottom:0px;
    }
    
    p{font-family:arial;
        font-size:17px;
        color:black;
        line-height:30px;
    }
    
    a:link  {color:red;}
    
    a:visited   {color:brown;}
    
    a:hover {color:#3b4646;
        text-decoration: :none;}
    
    a:active  {color:green;
                text-decoration:inherit;}
</style>

<body>
    
    <h1>Privacy Policies</h1>
    <br><br>
    
    <p>
        <a href="#Highlights"> Highlights </a>
        <br>
        
        <a href="#Personally identifiable information."> Personally identifiable information. </a>
        <br>
        
        <a href="#Collection."> Collection.</a>
        <br>
        
        <a href="#Use."> Use.</a>
        <br>

        <a href="#Sharing."> Sharing.</a>
        <br>
    </p>

    <a name= "Highlights"></a>
    <h2> Highlights </h2>
    <P>
        As a general rule, privacy policies are written by lawyers for lawyers. We hope you find these highlights to instead be a clear and transparent summary of our Privacy Policy, but our lawyers want us to remind you that the full, binding legalese of our Privacy Policy is below. The purpose is to enrich lives through technology. We will only collect, use, or share your personally identifiable information for that purpose.
    </P>

    <a name="Personally identifiable information."></a>
    <h2> Personally identifiable information. </h2>
    <p>
        We use the term “personally identifiable information” in these highlights to mean information that identifies, or that can reasonably be linked to, an actual natural person (that’s a real, named human being). We use the stand-alone term “information” to include all types of information, including personally identifiable information.
    </p>

    <a name="Collection."></a>
    <h2> Collection. </h2>
    <p>
        We may collect information relevant to you in three ways. First, we may collect information directly from you. This could be as part of your interactions with MouseFlash personnel, such as at our retail stores or during in-home visits, or when you provide information via our digital properties such as websites or mobile apps.
    </p>

    <a name="Use."></a>
    <h2> Use. </h2>
    <p>
        You’ve probably seen in the news that the world (especially the internet) has too many fraudsters, hackers, and criminals. We use information we collect to protect our customers, MouseFlash, and others from such bad actors. We will use your information to meet your expectations and give you a great experience with MouseFlash. For example, that could be to fulfill a purchase, provide a service, make our digital properties run better, or maintain our My MouseFlash® program.
    </p>

    <a name="Sharing."></a>
    <h2> Sharing. </h2>
    <p>
        We also may share personally identifiable information in an attempt to enforce our legal rights, in response to a request from law-enforcement authorities, and when we are required to do so by applicable law. Also, please note that if we think that sharing personally identifiable information is going to protect MouseFlash or others from harm, that’s what we are going to do. 
    </p>




    