<h1> New Record</h1>
<form action="/orderdetail" method="post">
<table>
    <tr> <td> Order ID : </td> <td> <input type="text" name="order_id" required> </td> </tr>
    <tr> <td> Product ID: </td> <td> <input type="text" name="product_id" required> </td> </tr>
    <tr> <td> Saleprice : </td> <td> <input type="text" name="saleprice" required> </td> </tr>
    <tr> <td> QTY : </td> <td> <input type="text" name="qty"> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
