<h1> New Record</h1>
<form action="/promotion" method="post">
<table>
    <tr> <td> promotion Name: </td> <td> <input type="text" name="promotitle " required> </td> </tr>
    <tr> <td> Image: </td> <td> <input type="text" name="promoimage " required> </td> </tr>
    <tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30"  placeholder="Description"></textarea> </td> </tr>
    <tr> <td> Start Date: </td> <td> <input type="Date" name="startdate" required> </td> </tr>
    <tr> <td> End Date: </td> <td> <input type="Date" name="enddate" required> </td> </tr>
    <tr> <td> Discountrate: </td> <td> <input type="number" name="discountrate"> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
