<h1> New Record</h1>
<form action="/product" method="post">
<table>
    <tr> <td> Supplier Name: </td> <td> <input type="text" name="suppliername" required> </td> </tr>
    <tr> <td> Point of contact : </td> <td> <input type="text" name="Pointofcontact " required>	</td> </tr>
    <tr> <td> Web URL: </td> <td> <input type="text" name="weburl" required> </td> </tr>
    <tr> <td> suppliernotes: </td> <td> <input type="text" name="suppliernotes" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
